<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhzhgang.order.dao.OrderDetailDao">

    <resultMap id="OrderDetailMap" type="OrderDetail">
        <result column="detailId" property="detailId"></result>
        <result column="orderId" property="orderId"></result>
        <result column="productId" property="productId"></result>
        <result column="productName" property="productName"></result>
        <result column="productPrice" property="productPrice"></result>
        <result column="productQuantity" property="productQuantity"></result>
        <result column="productIcon" property="productIcon"></result>

    </resultMap>

    <select id="findByOrderId" parameterType="java.lang.String" resultMap="OrderDetailMap">
        SELECT
            detail_id detailId,
            order_id orderId,
            product_id productId,
            product_name productName,
            product_price productPrice,
            product_quantity productQuantity,
            product_icon productIcon
        FROM
          order_detail
        WHERE
          order_id = #{orderId}
    </select>

    <insert id="save" parameterType="OrderDetail" useGeneratedKeys="false" keyProperty="detailId">
        INSERT INTO order_detail (
          detail_id,
          order_id,
          product_id,
          product_name,
          product_price,
          product_quantity,
          product_icon
        ) VALUES (
          #{detailId},
          #{orderId},
          #{productId},
          #{productName},
          #{productPrice},
          #{productQuantity},
          #{productIcon}
        )
    </insert>
</mapper>